@import url('https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/litera/bootstrap.min.css');
.bg{
    background-color: #F2A89F;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI';
    font-weight: 400;
    background-color: #F2A89F;
}

