.bg{
    background-color: #F2A89F;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI';
    font-weight: 400;
    background-color: #F2A89F;
}
.footer{
    padding: 40px 0;
}
.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: #4b4c4d;
}
.footer .social a {
    font-size: 24px;
    color: inherit;
    border: 1px solid;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin:0 8px;
    opacity: 0.75;
}
.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
}